#user_username, #user_email {
	margin-bottom: 30px;
}

#user_email {
	margin-bottom: 46px;
}

#saveButton {
	margin-top: 30px;
}

@media screen and (min-width: 798px) {
	#saveButton {
		margin-top: 30px;
		width: 100px;
	}
}