h2 {
	font-size: 1.6em;
	margin-top: 30px;
}

h3 {
	font-size: 1.4em;
	font-style: italic;
}

#quizButton {
	margin-top: 30px;
}

@media screen and (min-width: 798px) {
	#quizButton {
		margin-top: 30px;
		width: 100px;
	}
}