/* General rules for the page */
html, body {
	background: #fff5ee;
	height: 100%;
}

.button {
	margin: 0;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -2em;
}

#pagefoot, #push {
	height: 2em;
} /* End general rules */

/* Rules for top navigation */
#backToHome {
	font-size: 1.4em;
	line-height: 45px;
	margin: 0;
	padding-left: 0.5em;
	color: #fff5ee;
} /* End rules for top navigation */

/* Rules for header */
#header {
	height: 100px;
}

#pagetitle {
	line-height: 100px;
	color: #3b3c36;
	text-shadow: 1px 1px 1px #9e7fb8;
	margin: 0;
	width: 100%;
	text-align: center;
	font-family: "Book Antiqua", "serif";
} /* End rules for header */

/* Rules for page content */
#pagecontent h2 {
	margin-top: 40px;
}

.error {
	color: #c60f13;
}

#logInButton {
	margin-top: 18px;
}

#logOutButton{
	margin-bottom: 13px;
}

.submitInstructions {
	padding-top: 30px;
}

.panel.instructions {
	padding: 0.8em;
}

.panel.instructions p {
	font-size: 0.8em;
	font-style: italic;
}

.submitPassword {
	padding-top: 30px;
}

@media (max-width: 1023px) {
	.submitPassword {
		padding-top: 0;
	}
}

.submitDeleteInstructions, .submitDeletePassword {
	padding-top: 0;
}

input.error {
	margin-bottom: 14px;
} /* End rules for page content */

/* Rules for alert-boxes */
.alert-box {
	background: #c07cf7;
	padding: 10px;
	margin-top: 20px;
	border-color: #7b40ad;
}
	.alert-box p {
		margin: 0;
		font-style: italic;
		font-weight: bold;
	}
	
.alert-box.error {
	background: #c60f13;
	padding: 10px;
	margin-top: 0;
	border-color: #960b0e;
}
	.alert-box.error p {
		margin: 0;
		color: #fff5ee;
		font-style: italic;
		font-weight: bold;
	}

.error-list {
	color: #fff5ee;
	text-style: italic;
	list-style-position: inside;
	font-size: 0.9em;
	margin: 0;
}
/* End rules for alert-boxes */


/* Rules for page foot */
#pagefoot {
	background-color: #9e7fb8;
}

#pagefoot p {
	color: #fff5ee;
	width: 100%;
	text-align: center;
	padding-top: 0.8em;
	margin-bottom: 0;
	font-size: 0.8em;
	line-height: 1em;
} /* End rules for page foot */