/* General styles */
html, body {
	background: #fffffe;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Book Antiqua", "Georgia", "serif";
	color: #7f6b00;
	font-weight: normal;
}

h1 {
	margin: 0 0 35px;
	line-height: 1;
}

p, label {
	color: #7f6b00;
}

legend, caption {
	background: #fffffe;
	font-family: "Book Antiqua", "Georgia", "serif";
	color: #7f6b00;
	font-size: 1.2em;
	text-align: left;
}

a {
	color: #0036e5;
}

table thead tr th {
	color: #7f6b00;
	font-weight: normal;
	font-family: "Book Antiqua", "Georgia", "serif";
	font-size: 1.0em;
}

table thead tr td, table tbody tr th, table tbody tr td {
	color: #7f6b00;
}

fieldset {
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -110px;
}

#pagefoot1, #push {
	height: 110px;
}

@media screen and (min-width: 798px) {
	
	#container {
		margin: 0 auto -171px;
	}
	
	#pagefoot2, #push {
		height: 171px;
	}
}
/* Styles for navigation */

#backToHome {
	height: 100%;
	width: 100%;
	font-size: 0.8125em;
	line-height: 45px;
	margin: 0;
	padding: 0 15px;
	color: #fffffe;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

#backToHome:focus, #backToHome:hover {
	background-color: #000f40;
}

.top-bar ul li:focus, .top-bar ul li:hover {
	background-color: #000f40;
}

@media screen and (max-width: 798px) {
	.top-bar-section ul {
		padding-bottom: 10px;
	}
}

/* Styles for alert-boxes */
.alert-box {
	background: #002395;
	padding: 10px;
	margin-bottom: 60px;
	border-color: #000f40;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
	.alert-box p {
		margin: 0;
		font-style: italic;
		font-weight: bold;
		color: #fffffe;
	}
	
.alert-box.success {
	background: #007f04;
	padding: 10px;
	margin-bottom: 60px;
	border-color: #004002;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
	.alert-box.success p {
		margin: 0;
		color: #fffffe;
		font-style: italic;
		font-weight: bold;
	}

.alert-box.error {
	background: #960b0e;
	padding: 10px;
	margin-bottom: 60px;
	border-color: #400506;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
	.alert-box.error p {
		margin: 0;
		color: #fffffe;
		font-style: italic;
		font-weight: bold;
	}

.error-list {
	color: #fff5ee;
	text-style: italic;
	list-style-position: inside;
	font-size: 0.9em;
	margin: 0;
}

/* Styles for panel */

.panel {
	margin-bottom: 10px;
	border-color: #002395;
	background-color: rgba(0, 35, 149, 0.1);
}

.panel p {
	font-size: 0.875em;
	font-style: italic;
	color: #7f6b00;
}

/* Styles for headers and footers */

header#header1, header#header2 {
	margin-bottom: 50px;
}

header {
	max-width: 100%;
}

header img {
	max-width: 100%;
}

footer#pagefoot1, footer#pagefoot2 {
	margin-top: 50px;
}

/* Styles for forms */
fieldset {
	margin: 0;
	padding: 20px;
}

input[type="text"], input[type="password"], input[type="email"] {
	margin-bottom: 10px;
}

input[type="submit"] {
	margin: 0;
	height: 32px;
}

#logOutButton {
	background-color: #002395;
	border-color: #000f40;
}

#logOutButton:focus, #logOutButton:hover {
	background-color: #000f40;
}