#user_username, #user_passwordAgain {
	margin-bottom: 30px;
}

#sendButton {
	margin-top: 30px;
}

@media screen and (min-width: 798px) {
	#user_username {
		margin-bottom: 10px;
	}
	
	#sendButton {
		margin-top: 30px;
		width: 100px;
	}
}
