h1 {
	text-align: center;
}

table {
	margin: 0 auto;
	border-color: #000f40;
}

table tr:nth-of-type(2n) {
	background-color: rgba(0, 35, 149, 0.1);	
}

table thead {
	background-color: rgba(0, 35, 149, 0.1);
}

table tbody tr td:first-of-type {
	font-style: italic;
}

@media screen and (min-width: 798px) {
	h1 {
		text-align: left;
	}
}
